main a, footer p a {
  color: var(--accent);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition-duration: 0.33s;

  &:visited, &:active {
    color: var(--accent);
  }

  &:hover {
    text-decoration-color: var(--accent);
  }
}

main p > em > a:only-child {
  font-style: normal;

  &::before {
    content: '→ ';
  }
}