@use 'sass:color';

$nav-color: #000;
$nav-bg: #fff8;
$nav-color-dark: #fff;
$nav-bg-dark: #0008;

nav {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10000;

  width: calc(100% - 3rem);
  height: 2rem;

  border: 1px solid color.adjust($nav-color, $lightness: 75%);
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;

  background-color: $nav-bg;
  backdrop-filter: blur(0.5rem);
  user-select: none;

  & > :first-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    text-decoration: none;
    flex-grow: 1;

    img {
      height: 100%;
    }

    h1 {
      margin: 0;
      color: $nav-color;
      font-size: 1.25rem;
      font-weight: 600;

      @media (prefers-color-scheme: dark) {
        color: $nav-color-dark;
      }
    }
  }

  a {
    color: $nav-color;
    text-decoration-color: transparent;
    transition-duration: 0.33s;
    font-weight: 500;

    &:hover {
      text-decoration-color: $nav-color;

      @media (prefers-color-scheme: dark) {
        text-decoration-color: $nav-color-dark;
      }
    }

    @media (prefers-color-scheme: dark) {
      color: $nav-color-dark;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  [data-expand] {
    & > label:not([data-close]) {
      cursor: pointer;

      &::after {
        content: '+';
        padding-left: 0.25rem;
        font-family: monospace;
        font-size: 0.9rem;
        display: inline-block;
      }
    }

    & > input[type="checkbox"]:checked {
      & ~ label:not([data-close])::after {
        content: '-';
      }

      & ~ [data-close] {
        display: block;
      }
    }

    & > [data-close] {
      display: none;
      position: absolute;
      top: calc(-1rem - 1px);
      left: calc(-1rem - 1px);
      width: 100%;
      height: 100vh;
      z-index: -1;
    }

    & > div {
      display: none;
      flex-direction: column;
      position: absolute;
      border: 1px solid color.adjust($nav-color, $lightness: 75%);
      border-radius: 0.5rem;
      padding: 0.75rem 0.5rem;
      transform: translateX(-0.5rem) translateY(1.5rem);
      gap: 0.75rem;
      background-color: $nav-bg;
      backdrop-filter: blur(0.5rem); // Chromium is shit: https://issues.chromium.org/issues/40835530
      z-index: 10000;

      @media (prefers-color-scheme: dark) {
        background-color: $nav-bg-dark;
        border-color: color.adjust($nav-color-dark, $lightness: -75%);
      }
    }

    & > input[type="checkbox"]:checked ~ div {
      display: flex;
    }
  }

  [data-cta] {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
    text-decoration: none;
    flex-grow: 1;
    height: 100%;

    a {
      background-color: $nav-bg;
      border: 1px solid color.adjust($nav-color, $lightness: 75%);
      border-radius: 0.5rem;
      padding: 0.25rem 0.5rem;

      text-decoration: none;
      color: $nav-color;
      transition-duration: 0.33s;
      font-weight: 500;

      &:hover {
        background-color: color.adjust($nav-bg, $lightness: -20%);

        @media (prefers-color-scheme: dark) {
          background-color: color.adjust($nav-bg-dark, $lightness: 20%);
        }
      }

      &[data-primary] {
        background-color: $nav-color;
        color: color.adjust($nav-bg, $alpha: 1);
        border-color: $nav-color;

        &:hover {
          background-color: color.adjust($nav-color, $lightness: 20%);
          border-color: color.adjust($nav-color, $lightness: 20%);

          @media (prefers-color-scheme: dark) {
            background-color: color.adjust($nav-color-dark, $lightness: -20%);
            border-color: color.adjust($nav-color-dark, $lightness: -20%);
          }
        }

        @media (prefers-color-scheme: dark) {
          background-color: $nav-color-dark;
          color: color.adjust($nav-bg-dark, $alpha: 1);
          border-color: $nav-color-dark;
        }
      }
      
      @media (prefers-color-scheme: dark) {
        background-color: $nav-bg-dark;
        border-color: color.adjust($nav-color-dark, $lightness: -75%);
        color: $nav-color-dark;
      }
    }

    
  }

  @media (prefers-color-scheme: dark) {
    background-color: $nav-bg-dark;
    border-color: color.adjust($nav-color-dark, $lightness: -75%);
    color: $nav-color-dark;
  }
}