:root {
  color-scheme: light;

  --border-radius: var(--roundness, 0.5rem);
  --font-sans: var(--preferred-font, 'Inter Variable'), 'Inter', 'Roboto', 'Helvetica', 'SF Pro', 'Verdana', sans-serif;
  --font-mono: var(--preferred-mono-font, 'Fira Code Variable'), 'Fira Code', 'Cascadia Code', 'Inconsolata', 'Monaco', 'Consolas', monospace;

  --fg: var(--fg-light, #000);
  --bg: var(--bg-light, #fff);
  --accent: var(--accent-light, #088);
  --border: var(--border-light, #ccc);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

    --fg: var(--fg-dark, #fff);
    --bg: var(--bg-dark, #000);
    --accent: var(--accent-dark, #088);
    --border: var(--border-dark, #444);
  }
}

html {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  background-color: var(--bg);
  color: var(--fg);
}

body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 7rem);
  height: fit-content;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
}
